.cus-padding{
    padding: 15px;
    /* margin: 20px; */
}
.bg-homepage{
    background-color: #ffff4d;
    height: 750px;
}
.bg-color{
    background-color: #f0f0f0;
}
.cus-margin{
    margin: 15px;
}
.cus-pad-message{
    padding-top: 60px;
    padding-bottom: 60px;
}
.cus-padding-top h1{
    font-family: Bahamas;
    font-weight: bolder;
    font-size: 50px;
}