body{
    /* background-image: url('../homepage/printing.jpg') */
}
.bg-header{
    background: rgba(255, 255, 255, 0.9);
    /* box-shadow: 1px 3px 6px #aaaaaa; */
}
.cus-logo{
    color: #0000ff;
    font-size: 32px;
    width: 40vh;
}
.font-size i{
    font-size: 36px;
    color: #000;
}
.nav li a{
    color: #000 !important
  }
  .nav-link{
    font-size: 22px;
  }
  .navbar-toggler-icon {
    background-image: url('./icon.svg') !important;
}
.navbar-toggler {
    border-color: #0000ff !important;
}
.nav-item :hover{
    cursor: pointer;
    color: #0000ff !important;
    border-bottom:3px solid #28a745 !important;
    /* transition-duration: 0.6s; */
}